<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>【首页】RSS</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/home.css" />
    <script type='text/javascript' src='/static/js/jquery-2.2.3.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='/static/js/bootstrap.min.js'  charset='utf-8'></script>
</head>
<body>
<div class="container">
    <div class="row title_bar" style="background-color: #ffafc9">
        <div class="title-icon">
            <h5><img src="http://static.hdslb.com/images/favicon.ico" style="max-height: 20%"/> b站</h5>
        </div>
    </div>
    <div class="row">
        {% if bListLenth==0 %}
            暂无数据
        {% else %}
            {% for item in bList %}
            <div class="col-md-3">
                <div class="views">
                    <img src="{{item.pic}}"/>
                    <h5>{{item.name}}</h5>
                    <small>{{item.extra}}</small>
                    <br/>
                    <a href="{{item.link}}" target="_blank">链接</a>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row title_bar" style="background-color: #c7d7e4;" >
        <div class="title-icon">
             <h5><img src="http://www.dytt8.net/favicon.ico"/> 电影天堂</h5>
        </div>
    </div>
    <div class="row">
        {% if dyttListLenth==0 %}
            暂无数据
        {% else %}
            {% for item in dyttList %}
            <div class="col-md-2">
                <div class="views">
                    <img src="{{item.pic}}"/>
                    <h5>{{item.name}}</h5>
                    <a href="{{item.extra}}" target="_blank">下载链接</a>
                    <br/>
                    <a href="{{item.link}}" target="_blank">链接</a>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>

</div>
</body>
</html>