.title_bar{
    hight:20px;
    box-shadow: 2px 3px 2px #EAEAEA;
}
.views{
    margin-top: 10px;
    margin-bottom:10px;
}
.views img{
    max-width: 100%;
}
.view a{
    font-size: 20px;
}
.title-icon img{
    color:#333;
    margin-left: 20px;
    height: 20px;
}
.container{
    width: 60%;
}